<div class="container">
  <!-- No data message -->
  <p *ngIf="Borrows.length <= 0" class="no-data text-center">There is no Borrow added yet!</p>
  <!-- Employee list -->
  <table *ngIf="Borrows.length > 0">

    <tbody>
    <tr class="table table-bordered" *ngFor="let Borrow of Borrows; let i = index">
      <table>
        <thead class="table-success">
        <tr>
          <th scope="col">Borrows</th>
          <th scope="col">Start</th>
          <th scope="col">End</th>
          <th scope="col">Patron Id</th>
          <th scope="col center">Update</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">{{Borrow._id}}</th>
          <td>{{Borrow.start | date: "yyyy-MM-dd"}}</td>
          <td>{{Borrow.end | date: "yyyy-MM-dd"}}</td>
          <td>{{Borrow.Patron}}</td>
          <td class="text-center edit-block">
          <span class="edit" [routerLink]="['/edit-Borrow/', Borrow._id]">
            <button type="button" class="btn btn-success btn-sm">Close Borrow</button>
          </span>
            <span class="delete" (click)="removeBorrow(Borrow, i)">
            <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </span>
          </td>
        </tr>
        <tr>
          <th colspan="5">BORROWED Books</th>
        </tr>
        <tr *ngFor="let id of Borrow.RentedBook">
          <td colspan="5">{{id}}</td>
        </tr>
        </tbody>
      </table>
    </tr>
    </tbody>
  </table>
</div>
